
.store_logo_box .single-image-uploader {
  .ant-upload-list.ant-upload-list-picture-card .ant-upload.ant-upload-select.ant-upload-select-picture-card{
    width: 150px;
    height: 150px;
  }
  .ant-upload-list-picture-card-container{
    width: 150px;
    height: 150px;
  }
}